In [2]:
# Load the Pandas libraries with alias 'pd'
import pandas as pd
import numpy as np

In [2]:
#data from AWS

awsWed14 = pd.read_csv("./dataset/CICAWS2018/Wednesday-14-02-2018_TrafficForML_CICFlowMeter.csv")

awsWed21 = pd.read_csv("./dataset/CICAWS2018/Wednesday-21-02-2018_TrafficForML_CICFlowMeter.csv")

awsWed28 = pd.read_csv("./dataset/CICAWS2018/Wednesday-28-02-2018_TrafficForML_CICFlowMeter.csv")

awsThu15 = pd.read_csv("./dataset/CICAWS2018/Thursday-15-02-2018_TrafficForML_CICFlowMeter.csv")

awsThu22 = pd.read_csv("./dataset/CICAWS2018/Thursday-22-02-2018_TrafficForML_CICFlowMeter.csv")

awsThu01 = pd.read_csv("./dataset/CICAWS2018/Thursday-01-03-2018_TrafficForML_CICFlowMeter.csv")

awsTue20 = pd.read_csv("./dataset/CICAWS2018/Tuesday-20-02-2018_TrafficForML_CICFlowMeter.csv")

awsFri02 = pd.read_csv("./dataset/CICAWS2018/Friday-02-03-2018_TrafficForML_CICFlowMeter.csv")

awsFri16 = pd.read_csv("./dataset/CICAWS2018/Friday-16-02-2018_TrafficForML_CICFlowMeter.csv")

awsFri23 = pd.read_csv("./dataset/CICAWS2018/Friday-23-02-2018_TrafficForML_CICFlowMeter.csv")

/Users/tanatjakphan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/tanatjakphan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/tanatjakphan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/tanatjakphan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/tanatjakphan/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
# data from UNSW-NB-15

unswTraning = pd.read_csv("./dataset/UNSW/UNSW_NB15_training-set.csv")

In [ ]:
# test data AWS2018 from csv
# awsWed14.head()

# test data UNSW
# unswTraning.head()

In [20]:
# data from CICIDS2017

cicid1 = pd.read_csv("./dataset/CICID2017/Monday-WorkingHours.pcap_ISCX.csv")
cicid2 = pd.read_csv("./dataset/CICID2017/Tuesday-WorkingHours.pcap_ISCX.csv")
cicid3 = pd.read_csv("./dataset/CICID2017/Wednesday-workingHours.pcap_ISCX.csv")
cicid4 = pd.read_csv("./dataset/CICID2017/Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv")
cicid5 = pd.read_csv("./dataset/CICID2017/Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX.csv")
cicid6 = pd.read_csv("./dataset/CICID2017/Friday-WorkingHours-Morning.pcap_ISCX.csv")
cicid7 = pd.read_csv("./dataset/CICID2017/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv")
cicid8 = pd.read_csv("./dataset/CICID2017/Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv")

In [19]:
# test data CICIDS2017
cicid6.head()

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,3268,112740690,32,16,6448,1152,403,0,201.5,204.724205,...,32,3.594286e+02,1.199802e+01,380,343,16100000.0,4.988048e+05,16400000,15400000,BENIGN
1,389,112740560,32,16,6448,5056,403,0,201.5,204.724205,...,32,3.202857e+02,1.574499e+01,330,285,16100000.0,4.987937e+05,16400000,15400000,BENIGN
2,0,113757377,545,0,0,0,0,0,0.0,0.000000,...,0,9.361829e+06,7.324646e+06,18900000,19,12200000.0,6.935824e+06,20800000,5504997,BENIGN
3,5355,100126,22,0,616,0,28,28,28.0,0.000000,...,32,0.000000e+00,0.000000e+00,0,0,0.0,0.000000e+00,0,0,BENIGN
4,0,54760,4,0,0,0,0,0,0.0,0.000000,...,0,0.000000e+00,0.000000e+00,0,0,0.0,0.000000e+00,0,0,BENIGN

In [26]:
# data from CIDDS001

# From External Server
cidEx1 = pd.read_csv("./dataset/CIDD001/ExternalServer/CIDDS-001-external-week1.csv")
cidEx2 = pd.read_csv("./dataset/CIDD001/ExternalServer/CIDDS-001-external-week2.csv")
cidEx3 = pd.read_csv("./dataset/CIDD001/ExternalServer/CIDDS-001-external-week3.csv")
cidEx4 = pd.read_csv("./dataset/CIDD001/ExternalServer/CIDDS-001-external-week4.csv")

# From Internal Server
cidIn1 = pd.read_csv("./dataset/CIDD001/OpenStack/CIDDS-001-internal-week1.csv")
cidIn2 = pd.read_csv("./dataset/CIDD001/OpenStack/CIDDS-001-internal-week1.csv")
cidIn3 = pd.read_csv("./dataset/CIDD001/OpenStack/CIDDS-001-internal-week1.csv")
cidIn4 = pd.read_csv("./dataset/CIDD001/OpenStack/CIDDS-001-internal-week1.csv")

In [28]:
cidIn1.head()

,Date first seen,Duration,Proto,Src IP Addr,Src Pt,Dst IP Addr,Dst Pt,Packets,Bytes,Flows,Flags,Tos,class,attackType,attackID,attackDescription
0,2017-03-15 00:01:16.632,0.000,TCP,192.168.100.5,445,192.168.220.16,58844.0,1,108,1,.AP...,0,normal,---,---,---
1,2017-03-15 00:01:16.552,0.000,TCP,192.168.100.5,445,192.168.220.15,48888.0,1,108,1,.AP...,0,normal,---,---,---
2,2017-03-15 00:01:16.551,0.004,TCP,192.168.220.15,48888,192.168.100.5,445.0,2,174,1,.AP...,0,normal,---,---,---
3,2017-03-15 00:01:16.631,0.004,TCP,192.168.220.16,58844,192.168.100.5,445.0,2,174,1,.AP...,0,normal,---,---,---
4,2017-03-15 00:01:16.552,0.000,TCP,192.168.100.5,445,192.168.220.15,48888.0,1,108,1,.AP...,0,normal,---,---,---

In [2]:
import pandas as pd
# data from NSLKDD

nsl1 = pd.read_csv("./dataset/NSLKDD/KDDTrain+.txt")

In [3]:
nsl1.head()

,0,tcp,ftp_data,SF,491,0.1,0.2,0.3,0.4,0.5,...,0.17.1,0.03,0.17.2,0.00.6,0.00.7,0.00.8,0.05,0.00.9,normal,20
0,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.0,0.00,normal,15
1,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.0,0.00,neptune,19
2,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.0,0.01,normal,21
3,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,normal,21
4,0,tcp,private,REJ,0,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,1.0,1.00,neptune,21

In [13]:
# data from ISCX-IDS
import xml.etree.ElementTree as et 
import pandas as pd

parseXML = et.parse("./dataset/ISCXIDS/12SatJun.xml")
# print("parseXML", parseXML)

xroot = parseXML.getroot()

df_cols = ["appName", "totalSourceBytes", "totalDestinationBytes", "totalDestinationPackets"]
#            "totalSourcePackets", "sourcePayloadAsBase64",
#            "sourcePayloadAsUTF", "destinationPayloadAsBase64", "destinationPayloadAsUTF",
#            "direction", "sourceTCPFlagsDescription", "destinationTCPFlagsDescription",
#            "source", "protocolName", "sourcePort", "destination", "destinationPort",
#            "startDateTime", "stopDateTime", "Tag"]

out_df = pd.DataFrame(columns = df_cols)

def getvalueofnode(node):
    """ return node text or None """
    return node.text if node is not None else None

for node in xroot:

    s_appName = node.find("appName")

    s_totalSourceBytes = node.find("totalSourceBytes")

    s_totalDestinationBytes = node.find("totalDestinationBytes")
    
    s_totalDestinationPackets = node.find("totalDestinationPackets")

    out_df = out_df.append(
        pd.Series([getvalueofnode(s_appName), getvalueofnode(s_totalSourceBytes),
                   getvalueofnode(s_totalDestinationBytes), getvalueofnode(s_totalDestinationPackets)],
                                     index = df_cols),
                           ignore_index = True)
    
print("complete")

complete

In [14]:
print(out_df)

                  appName totalSourceBytes totalDestinationBytes  \
0                 HTTPWeb              128                    64
1                 HTTPWeb              128                    64
2                 HTTPWeb              128                    64
3                     SSH             2938                 49570
4       HTTPImageTransfer              644                  2315
...                   ...              ...                   ...
133188                DNS               89                   280
133189                DNS              100                   151
133190         NetBIOS-IP              247                     0
133191            HTTPWeb             1266                 37732
133192                SSH              680                  1852

       totalDestinationPackets
0                            1
1                            1
2                            1
3                           76
4                            5
...                        ...
133188                       2
133189                       1
133190                       0
133191                      29
133192                      18

[133193 rows x 4 columns]